.label{
	font-family: "Teams";
	font-size: 20pt;
	color: blue;
}

.button{
	font-family: "Teams";
	font-size: 15pt;
	color: #dbde26;
	background: #e98888;
}

.button:hover{
	color: #e98888;
	background: #dbde26;
}


.form{
	font-family: "Teams";
	background: cyan;
	color: blue;
}

