.label{
	color: #2AFC85;
}

.label-result{
	color:#9208CD;
}

.form{	
	background-color: black;
}

.cb{
	font-family: "Sans Bold";
	font-size: 12pt;
	color: #2AFC85;
}

.rb{
	font-family: "Sans Bold";
	font-size: 12pt;
	color:#9208CD;
}
